/* Reset styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  html, body {
	height: auto;
  }
  
  body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: Arial, sans-serif;
	line-height: 1.6;
	position: relative;
	background: url('../img/bj.png') no-repeat center center;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
  }
  
  .container {
	max-width: 960px;
	margin: 0 auto;
	padding: 10px;
  }
  
  header {
	padding: 10px 0;
	text-align: center;
	font-size: 15px;
	font-weight: 750;
	margin-bottom: 10px;
	font-family: Helvetica, sans-serif;
	text-transform: uppercase;
	text-shadow: 5px 5px 8px #FF0000;
	color: #FFD586;
  }
  
  header h1 {
	font-size: 4em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 10px;
  }
  
  section {
	padding: 10px 0;
  }
  
  section h2, .project h3 {
	font-size: 2em;
	margin-bottom: 10px;
  }
  
  .projects-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
  }
  
  .project {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .project p {
	font-size: 15px;
	margin-bottom: 10px;
  }
  .project a {
	font-size: 15px;
	margin-bottom: 10px;
	padding: 20px;
  }
  .button-container {
	display: flex;
	gap: 10px;
  }
  
  .btn {
	display: inline-block;
	width: 150px;
	height: 50px;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	border-radius: 10px;
	transition: background-color 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px 0;
  }
  
  .btn:hover {
	background-color: #555;
  }
  
  footer {
	bottom: 0;
	color: #fff;
	text-align: center;
	padding: 8px 20px;
	border-radius: 15px;
	margin-top: 20px;
  }
  
  .copyright-container {
	padding: 20px;
	background-color: rgba(51, 51, 51, 0.8);
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
  }
  
  .wrapper {
	display: flex;
	flex-direction: column;
	bottom: 0;
  }
  
  main {
	flex: 1;
	padding: 40px 0;
  }
  
  @media (max-width: 768px) {
	header h1 {
	  font-size: 2em;
	}
  }
  